<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'toDo/style.css' %}" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<head>
<title>Easiest ToDO List Maker</title>
</head>
<body>
    <div class="form-group">
      <h1 align="center"><font color="white">To-Do </font><small><font color="blue">List</font></small></h1>
<div style="text-align: center;">
<h1>There are no more tasks.<h1>

	<br>
	<div style="text-align: center;">
	 <a href = "{% url 'index' %}"><input type="button" class="btn btn btn-primary" id="btnAdd" value="ADD NEW TASKS"/></a> 
	 